		{% extends "base.html" %}
		{% block content %}
		<h1>Hello, Friends you can add a new food here!!!</h1>
		<form action="/addfood" method="POST">
			{{form.hidden_tag()}}
			<!--
			Is there a way to desplay the style of a choosen resturant?
			-->
			<p>
				Restaurant: 
				<select name = "restaurant">
					{% for restaurant in restaurants %}
					<option value= "{{restaurant.id}}">{{ restaurant.name }}</option>
					{% endfor %}
				</select><br>
			</p>
			<p>
				Name of Dish: {{form.dish(size=50)}}<br>
			</p>
			<p>
				Type of Dish:  
				<select name = "cat1">
					{% for cat1 in cat1s %}
					<option value= "{{cat1.id}}">{{ cat1.name }}</option>
					{% endfor %}
				</select><br>
			</p>
			<p>
				Type of Meat:  
				<select name = "cat2">
					{% for cat2 in cat2s %}
					<option value= "{{cat2.id}}">{{ cat2.name }}</option>
					{% endfor %}
				</select><br>
			</p>
			<p>
				<input type="submit" value="Submit Dish">
			</p>
		</form>
		{% endblock %}