<html>
	<head>
		{% if title %}
		<title>{{title}} - GP's Food Website</title>
		{% else %}
		<title>This is the else statement for GP's Food Website</title>
		{% endif %}
	</head>
	<body>
		<ul class = "normal menu">
			<div>Food Blog: </div>
			<div><a href="/index">Home</a></div>
			<div><a href="/profile">Profile</a></div>
			<div><a href="/about">About</a></div>
		</ul>
		<ul class = "food menu">
			<li>Food Blog Styles: </li>
			<li><a href="/american">American</a></li>
			<li><a href="/italian">Italian</a></li>
			<li><a href="/mexican">Mexican</a></li>
			<li><a href="/thai">Thai</a></li>
		</ul>
		<ul class = "food thoughts">
			<li>Food Blog Thoughts: </li>
			<li><a href="/posts">Posts</a></li>
			<li><a href="/likes">Likes</a></li>
			<li><a href="/dislikes">Dislikes</a></li>
			<li><a href="/troll">Troll</a></li>
		</ul>
		{% block content %}{% endblock %}
	</body>
</html>