<html>
	<head>
		{% if title %}
		<title>{{title}} - GP's Food Website</title>
		{% else %}
		<title>This is the else statement for GP's Food Website</title>
		{% endif %}
	</head>
	<body>
		<ul class = "normal menu">
			<div>Food Blog: </div>
			<div><a href="/index">Home</a></div>
			<div><a href="/profile">Profile</a></div>
			<div><a href="/about">About</a></div>
			<div><a href="/signup">Sign Up</a></div>
		</ul>
		<ul class = "food menu">
			<li>Food Blog Content: </li>
			<li><a href="/styles">Styles</a></li>
			<li><a href="/restaurant">Restaurants</a></li>
			<li><a href="/cat">Categories</a></li>
			<li><a href="/addfood">Add Food</a></li>
			<li><a href="/addstyle">Add Style</a></li>
			<li><a href="/addrestaurant">Add Resturant</a></li>
			<li><a href="/addcat1">Add Category 1</a></li>
			<li><a href="/addcat2">Add Category 2</a></li>
		</ul>
		<ul class = "food thoughts">
			<li>Food Blog Thoughts: </li>
			<li><a href="/profile/posts">Posts</a></li>
			<li><a href="/profile/likes">Likes</a></li>
			<li><a href="/profile/dislikes">Dislikes</a></li>
			<li><a href="/profile/troll">Troll</a></li>
		</ul>
		{% block content %}{% endblock %}
	</body>
</html>